{% extends "base.html.twig" %}


{% block title %}Non Connecté{% endblock %}

{% block body %}

    <div class = "container mt-4">
        <div class = "row">
            <h1 class ="mt-4">Veuillez vous connecter pour accéder aux photos</h1>
            </div>
        </div>
    </div>
{% endblock %}
