{% extends "base.html.twig" %}


{% block title %}NoCap{% endblock %}

{% block body %}

    <div class="alert alert-danger">
      Vous n'êtes pas connecté
    </div>
    <div class="upload-btn-wrapper">
        <button class="btn">Se Connecter</button>
        <input type="file" accept="image/*" capture="camera"/>
    </div>

{% endblock %}
